body {
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

.fullwindow {
  position: absolute;
  top: 1%;
  left: 2%;
  width: 96%;
  height: 96%;
}
.halfwindow {
  position: relative;
  top: 1%;
  left: 1%;
  width: 49%;
  height: 98%;
  display: inline-block;
}
.onethirdwindow {
  position: relative;
  top: 1%;
  left: 1%;
  width: 33%;
  height: 98%;
  display: inline-block;
}
.twothirdswindow {
  position: relative;
  top: 1%;
  left: 1%;
  width: 66%;
  height: 98%;
  display: inline-block;
}
.fullblock {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
}

#info-overlay {
  z-index: 9;

  background-color: rgba(0,0,0,0.5);
}

#info {
  z-index: 7;

  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;

  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;

  cursor: pointer;
}

#canvas-container {
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000000;
}
